.slick-dots-bottom{
    margin: 0 !important;
    padding: 0 !important;
}
.slick-slider slick-initialized {
    margin: 0 !important;
    padding: 0 !important;
}
.slick-arrow .slick-prev {
    display: none !important;
}
.slick-arrow .slick-next {
    display: none !important;
}
.slick-dots {
    bottom: 25px !important;
}
.slick-dots li button:before {
    font-size: 20px !important;
    opacity: 0.9 !important;
    color: white !important;

}
.slick-dots li.slick-active button:before {
    color: red !important;
}