.carousel .slick-dots-bottom{
    margin: 0 !important;
    padding: 0 !important;
}
.carousel.slick-slider .slick-initialized {
    margin: 0 !important;
    padding: 0 !important;
}

.carousel > button {
    display: none !important;
}
.carousel {
    position: relative!important;
}
/* .carousel::before {
    content: ""!important;
    position: absolute!important;
    top: 0!important;
    left: 0;
    width: 100%!important;
    height: 100%!important;
    background: linear-gradient(to top, #000000, transparent)!important;
    z-index: 999 !important;
} */


.carousel .slick-dots {
    bottom: 70px !important;
    z-index: 1000;
}
.carousel .slick-dots li button:before {
    font-size: 20px !important;
    opacity: 0.9 !important;
    color: white !important;

}
.carousel .slick-dots li.slick-active button:before {
    color: red !important;
}