@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

html {
    font-size: 13px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Quicksand', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: unset ;
}
a:hover {
    color: $main-color;
}
p {
    color: black;
    margin-bottom: 0;
}

input:focus {
    outline: none;
}

@keyframes spin123 {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-75deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(75deg);
    }
    100% {
        transform: rotate(0deg);
    }

}

@each $color, $val in $colors {
    .color-#{$color} {
        color: $val;
    }

    .bg-#{$color} {
        background-color: $val;
    }
}

@each $val in $numbers {
    .grid-col-#{$val} {
        grid-template-columns: repeat($val, 1fr);
    }
}

@each $val in $numbers {
    .grid-col-md-#{$val} {
        @include tablet-1024 {
            grid-template-columns: repeat($val, 1fr);
        }
    }
}

@each $val in $numbers {
    .grid-col-sm-#{$val} {
        @include mobile-576 {
            grid-template-columns: repeat($val, 1fr);
        }
    }
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 50px;
    margin: auto;

    @include mobile-576 {
        padding: 0 10px !important;
    }

    @include mobile-768 {
        padding: 0 20px !important;
    }

    @include tablet-1200 {
        padding: 0 100px;
    }
}

.main {
    margin-top: $header-height;
    margin-bottom: 2rem;
    min-height: 100vh;

    @include tablet-1024 {
        margin-top: calc(#{$header-tablet-height} + 20px);
    }

    @include mobile-576 {
        margin-top: calc(#{$header-mobile-height} + 10px);
    }
}

.grid {
    display: grid;
}
