@import "./variables";
@import "./mixins";
@import "./base";

.header {
    /* height: 100px; */
    padding: 50px 20px;
    display: grid;
    place-items: center;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.8); */
    background: linear-gradient(to bottom, #af731b, #ec7532, transparent);
    position: fixed;
    z-index: 1000;
    color: #af731b !important;
    transition: all .3s ease-in-out;
}