.header {
    padding: 15px 20px;
    display: grid;
    place-items: center;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.8); */
    background: linear-gradient(to bottom, #af731b, #ec7532, transparent);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    color: #af731b !important;
}
/* .header .container {
    display: grid;
    place-items: center;
    height: 80px
} */


