.flip-card {
  margin-top: 20px;
}
.flip-card-inner {
  position: relative;
  width: 300px;
  height: 400px;
  text-align: center;
  border-radius: 5px;
   /* overflow: hidden; */
}
.flip-card-inner:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s linear;

}
.flip-card-inner:hover::before {
  background: linear-gradient(to top,#000,transparent 100%);
}

.flip-card-inner .flip-card-inner-div {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  width: 80%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;
  z-index: 10;
  position: absolute;
} 
.flip-card-inner:hover .flip-card-inner-div {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible;
}
.flip-card-inner img {
   border-radius: 5px;
} 

.flip-card-inner > h1 {
  display: block;
}

.flip-bottom {
  height: 60px;
  max-height: 60px;
  padding-right: 30px;
  text-align: center;
  margin-top: 10px;
}
