.admin__item {
    font-size: 2rem;
    padding: 0 2rem;
    color: black;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
        color: #66bb5e;
    }   
}
.sider{
    min-width: 250px !important;

    &__logo {

        a {
            font-size: 2.5rem;
            color: #fff !important;
            font-weight: 700;
            margin-left: 5rem;

            img {
                width: 70px;
                margin-right: .5rem;
            }       
        }      
    }
}