.register {
    background-image: linear-gradient(to bottom,rgba(20,50,93,.9),rgba(8,22,48,.9));
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 45%);
    text-align: center;
    color: #fff;
    border-radius: 6px;
    padding: 40px 32px 30px;
    max-width: 1200px;
}
.register input {
    border-radius: 20px !important;
    padding: 10px 47px !important;
    color: #999;
    font-weight: 300;
}