.carousel {
    position: relative;

    .slick-slider {
        margin: 0 !important;
        padding: 0 !important;

        .slick-prev, .slick-next {
            display: block;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;     
            width: 6rem;
            height: 7rem; 
            background-color: transparent;
            z-index: 1;
            opacity: 0.3;

            &:hover {
                opacity: 0.2;
                transition: all 0.3s linear;
            }

            @include mobile-768 {
                display: none !important;
            }

            @include mobile-576 {
                height: 3rem;
            }
        }

        .slick-prev:before, .slick-next:before {
            font-size: 6rem;
            opacity: .5;
            display: none;
        }
        

        .slick-prev {
            left: 0;
            background-image: url(../../assets/images/imageFilm/back-session.png) !important;
        }

        .slick-next {
            right: 0;
            background-image: url(../../assets/images/imageFilm/next-session.png) !important;
        }

        .slick-dots {
            bottom: 5.7rem !important;
            // z-index: 1000;

            @include mobile-768 {
                bottom: 2.4rem !important;
            }

            @include mobile-576 {
                bottom: 1.3rem !important;
            }

            & li {
                @include mobile-576 {
                    margin: 0 !important;
                }
            }

            & li button:before {
                font-size: 2rem !important;
                opacity: 0.9 !important;
                color: white !important;

                @include mobile-576 {
                    font-size: 1.2rem !important;
                }
            
            }

            & li.slick-active button:before {
                color: red !important;
            }
        }
        .slick-list {
            .carousel__img {
                height: 100vh;
                color: #fff;
                line-height: 16rem;
                text-align: center;
                background-color: #364d79;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;

                @include tablet-1500 {
                    height: 76.5rem;
                }

                @include tablet-1200 {
                    height: 70rem;
                }

                @include tablet-1024 {
                    height: 50rem;
                }
                @include mobile-576 {
                    height: 29rem;
                }

                img {
                    opacity: 0;
                    max-width: 100%;
                }
            }
        }
    }
}