.header {
    height: $header-height;
    // display: grid;
    // place-items: center;
    width: 100%;
    background: linear-gradient(to bottom, #313130, transparent);
    // background: #1e1f19;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    // color: #af731b !important;
    transition: height .3s ease-in-out;
    

    @include tablet-1024 {
        height: $header-tablet-height;
        box-shadow: $box-shadow;
    }

    @include mobile-768 {
        height: 9rem;
        box-shadow: $box-shadow;
    }

    @include mobile-576 {
        height: $header-mobile-height;
        box-shadow: $box-shadow;
    }


    &__height {
        height: 100% ;
        padding: 0 10rem;

        @include tablet-1500 {
            padding: 0 5rem;
        }

        @include mobile-768 {
            padding: 0 2rem !important;
        }

        @include mobile-576 {
            padding: 0 1rem !important;
        }
    }

    &.shrink {
        height: $header-shrink-height;
        box-shadow: $box-shadow
    }

    &__logo {
        @include flex(center, center);
        inset: 0; //nằm giữa
        position: absolute;
        height: 100%;
        pointer-events: none;

        img {
            max-width: 100%; 

            // @include mobile-768 {
            //     width: 20rem;
            //     height: 20rem;
            // }
        }
    }
    &__menu {
        height: 100%;

        @include tablet-1024 {
            @include flex(center, space-between);
        }

        &__mobile-toggle {
            display: none;
            font-size: 4.5rem;

            @include tablet-1024 {
                color: white;
                display: block;
            }
        }

        &__item ~ &__item {
            margin-left: 3.9rem;
            cursor: pointer;

            @include tablet-1024 {
                margin-left: 1rem;
            }
        }

        &__item {
            font-size: 2rem;
            color: white;
            transition: all 0.3s;
            cursor: pointer;

            &:hover {
                color: #f18f43;
            }

            @include mobile-768 {
                font-size: 1.5rem;
                color: black

            }
        }

        // &__item:hover {
        //     color: #af731b;
        // }

        // &__left{
        //     @include flex(center, center);
        //     height: 100%;
        // }


        &__left {
            @include flex(center, space-between);
            height: 100%;

            &__item {
                a {
                    color: white;
                    transition: all 0.3s linear;

                    @include tablet-1024 {
                        color: black
                    }

                    &:hover {
                        color: #f18f43
                    }
                }
            }

            &__content {
                @include flex(center, space-between);

                @include tablet-1024 {
                    flex-direction: column;
                    padding-top: 100px;
                    text-align: center;
                }
            }

            &__info {
                color: white;
                cursor: pointer;
                @include flex(center, center);
                height: 100%;

                p {
                    transition: all 0.3s linear;
                    margin-bottom: 0;
                    color: white;

                    &:hover {
                        color: #f18f43;
                    }

                    @include tablet-1024 {
                        color: black;
                    }
                }
                

                @include tablet-1024 {
                    flex-direction: column;
                    padding-top: 100px;
                    @include flex(center, flex-start);
                    text-align: center;
                }
            }

            &__close {
                display: none;
            }

            @include tablet-1024 {
                display: block;
                z-index: 9000 !important;
                background-color: wheat !important;
                position: fixed;
                top: 0;
                right: 0;
                width: 53%;
                height: 100vh;
                transform: translateX(-190%);
                transition: transform .5s ease;

                &.active {
                    transform: translateX(-90%);
                }

                &__item ~ &__item {
                    margin-left: unset;
                    margin-top: 20px;
                }

                &__close {
                    display: block;
                    position: absolute;
                    top: 4px;
                    right: 20px;
                    font-size: 3.5rem;
                    z-index: 2000;
                }
            }
        }
    }

    //antd 
    .ant-select-arrow {
        display: none !important;
    }
    //antd
    
}